---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Jienan Wang">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-3xl lg:text-4xl dark:text-white"
        >
          Hello, I'm Jienan Wang
        </h1>
        <p class="mb-2 text-neutral-600 dark:text-neutral-200">
          - a real, genuine person passionate about creativity and connection.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Who I am:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Creative Brand Builder</li>
          <li>Art, Creativity & Lifestyle Influencer</li>
          <li>10-Year Digital Marketing Professional</li>
          <li>Cross-Cultural Connector (China & US)</li>
          <li>Data-Driven Strategist backed by an MBA.</li>
        </ul>
        <Button
          text="Connect on LinkedIn"
          link="https://www.linkedin.com/in/jienanwang/"
        >
          <svg
            class="w-4 h-4 inline-block"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
            ></path>
          </svg>
        </Button>
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <!-- <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
            <span
              class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                >👋</span
              >
            </span>
          </div> -->
          <div class="relative z-30 px-10">
            <img
              src="/assets/images/jienan.jpg"
              loading="eager"
              decoding="auto"
              class="relative z-30 w-full md:max-w-md mx-auto dark:-translate-y-0.5"
            />
          </div>
          <!-- <div
            class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
          >
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <Separator text="Check out my social media" />
  <Projects />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>
